<div class="list-group" *ngIf="tweets && totalTweets > 0" class="container-sm" infiniteScroll
    [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

    <form [formGroup]="form" (submit)="onSubmit()" class="form-floating mb-3" *ngIf="isUserLoggedIn">
        <textarea formControlName="content" class="form-control" id="floatingTextarea2"
        style="height: 100px"></textarea>
        <label for="floatingTextarea2">Ecrivez un tweet...</label>
        <button type="submit" class="w-30 btn btn-primary mt-1">Publier</button>
        <span *ngIf="errors['content']" class="text-danger ms-3">{{errors['content']}}</span>
    </form>

    <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet">
    </app-tweet>
</div>