<div class="card darkable">
    <div class="card-body">

        <div class="d-flex w-100 justify-content-between">
            <h6 class="card-title">{{ reply.author.firstname }} {{ reply.author.lastname }} <span
                    class="mx-3 text-secondary">{{ reply.author.email }}</span></h6>
            <small>{{ reply.createdAt| dateAgo }}</small>
        </div>

        <form *ngIf="isUserLoggedIn && isUserTheAuthor && editMode" [formGroup]="formEdit" (submit)="doEdit()"
            class="form-floating mb-1">
            <textarea formControlName="content" class="form-control darkable" id="floatingTextarea2"
                style="height: 100px">{{ reply.content }}</textarea>
            <label for="floatingTextarea2">Modifiez votre tweet...</label>
            <div class="mb-2">
                <button type="submit" class="w-30 btn btn-primary mt-1 me-1">Modifier</button>
                <button type="button" class="w-30 btn btn-secondary mt-1"
                    (click)="handleCancelEdit($event)">Annuler</button>
                <span *ngIf="formEditErrors['content']" class="text-danger ms-3">{{formEditErrors['content']}}</span>
            </div>
        </form>

        <p *ngIf="!editMode" class="card-text">{{ reply.content }}</p>

        <div class="d-flex">
            <div *ngIf="isCurrentUserHasLiked" style="cursor: pointer;"
                class="badge bg-danger rounded-pill me-3 d-flex justify-content-center align-items-center"
                (click)="handleLike($event)">
                <span class="me-1">{{ likesCount }}</span><i class="bi bi-balloon-heart-fill"
                    style="font-size: 1.2rem;"></i>
            </div>
            <div *ngIf="!isCurrentUserHasLiked" style="cursor: pointer;"
                class="badge bg-secondary rounded-pill me-3 d-flex justify-content-center align-items-center"
                (click)="handleLike($event)">
                <span class="me-1">{{ likesCount }}</span><i class="bi bi-balloon-heart-fill"
                    style="font-size: 1.2rem;"></i>
            </div>
            <div *ngIf="isUserTheAuthor && isUserLoggedIn && !editMode" class="me-3" (click)="onEdit($event)">
                <button type="button" class="btn btn-outline-secondary btn-sm">Modifier</button>
            </div>
            <div *ngIf="isUserTheAuthor && isUserLoggedIn && !editMode" (click)="onDelete($event)">
                <button type="button" class="btn btn-outline-danger btn-sm">Supprimer</button>
            </div>
        </div>

    </div>
</div>