<div style="cursor: pointer;" class="list-group-item list-group-item-action" (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <p class="mb-1">{{ tweet.author.firstname }} {{ tweet.author.lastname }} <span class="mx-3 text-secondary">{{
            tweet.author.email }}</span></p>

    <div *ngIf="!editMode" class="d-flex w-100 justify-content-between mb-2">
        <h5 class="mb-1">{{ tweet.content }}</h5>
        <small>{{ tweet.createdAt | dateAgo }}</small>
    </div>

    <form *ngIf="isUserLoggedIn && isUserTheAuthor && editMode" [formGroup]="formEdit" (submit)="doEdit()"
        class="form-floating mb-1">
        <textarea formControlName="content" class="form-control" id="floatingTextarea2"
            style="height: 100px">{{ tweet.content }}</textarea>
        <label for="floatingTextarea2">Modifiez votre tweet...</label>
        <div class="mb-2">
            <button type="submit" class="w-30 btn btn-primary mt-1 me-1">Modifier</button>
            <button type="button" class="w-30 btn btn-secondary mt-1"
                (click)="handleCancelEdit($event)">Annuler</button>
        </div>
        <span *ngIf="formEditErrors['content']" class="text-danger ms-3">{{formEditErrors['content']}}</span>
    </form>

    <div class="d-flex">
        <div class="badge bg-primary rounded-pill d-flex justify-content-center align-items-center">{{
            repliesCount }} <i class="bi bi-reply ms-1" style="font-size: 1.3rem;"></i></div>
        <div *ngIf="isCurrentUserHasLiked" style="cursor: pointer;" (click)="handleLike($event)"
            class="badge bg-danger rounded-pill ms-3 d-flex justify-content-center align-items-center">
            <span class="me-1">{{ likesCount }}</span><i class="bi bi-balloon-heart-fill"
                style="font-size: 1.2rem;"></i>
        </div>
        <div *ngIf="!isCurrentUserHasLiked" style="cursor: pointer;" (click)="handleLike($event)"
            class="badge bg-secondary rounded-pill ms-3 d-flex justify-content-center align-items-center">
            <span class="me-1">{{ likesCount }}</span><i class="bi bi-balloon-heart-fill"
                style="font-size: 1.2rem;"></i>
        </div>

        <div *ngIf="isUserLoggedIn && isUserTheAuthor && !editMode" class="ms-3" (click)="onEdit($event)">
            <button type="button" class="btn btn-outline-secondary btn-sm">Modifier</button>
        </div>
        <div *ngIf="isUserLoggedIn && isUserTheAuthor && !editMode" class="ms-3" (click)="onDelete($event)">
            <button type="button" class="btn btn-outline-danger btn-sm">Supprimer</button>
        </div>

    </div>
</div>
<div class="mx-3" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <app-reply *ngFor="let reply of tweet.replies" [reply]="reply" (delete)="onDeleteReply(reply)"></app-reply>

    <form [formGroup]="formReply" (submit)="handleNewReply()" class="form-floating mb-1" *ngIf="isUserLoggedIn && showEditorReply">
        <textarea formControlName="content" class="form-control" id="floatingTextarea2"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2">Ecrivez une réponse...</label>
        <button type="submit" class="w-30 btn btn-primary mt-1">Répondre</button>
        <span *ngIf="formReplyErrors['content']" class="text-danger ms-3">{{formReplyErrors['content']}}</span>
    </form>

</div>