<div style="cursor: pointer;" class="list-group-item list-group-item-action" (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <p class="mb-1">{{ tweet.author.firstname }} {{ tweet.author.lastname }}</p>
    <div class="d-flex w-100 justify-content-between mb-2">
        <h5 class="mb-1">{{ tweet.content }}</h5>
        <small>{{ tweet.createdAt | dateAgo }}</small>
    </div>
    <div class="d-flex">
        <div class="badge bg-primary rounded-pill d-flex justify-content-center align-items-center">{{ tweet.repliesCount }} réponses</div>
        <div style="cursor: pointer;" class="badge bg-secondary rounded-pill ms-3 d-flex justify-content-center align-items-center">
            <span class="me-1">{{ tweet.likesCount }}</span><i class="bi bi-balloon-heart-fill" style="font-size: 1.2rem;"></i>
        </div>
    </div>
</div>
<div class="mx-3" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card " *ngFor="let reply of tweet.replies">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="card-title">{{ reply.author.firstname }} {{ reply.author.lastname }}</h6>
                <small>{{ reply.createdAt| dateAgo }}</small>
            </div>
            <p class="card-text">{{ reply.content }}</p>
            <div class="d-flex">
                <div style="cursor: pointer;" class="badge bg-secondary rounded-pill me-3 d-flex justify-content-center align-items-center">
                    <span class="me-1">{{ reply.likesCount }}</span><i class="bi bi-balloon-heart-fill" style="font-size: 1.2rem;"></i>
                </div>
            </div>
        </div>
    </div>
</div>