<nav class="navbar navbar-expand-md bg-light mb-4 rounded-2">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Botmind Twitter</a>

    <div class="d-flex justify-content-center align-items-center">
      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!isUserAuthenticated">
        <li class="nav-item">
          <a routerLink="/se-connecter" class="nav-link">Se connecter</a>
        </li>
        <li class="nav-item">
          <a routerLink="/creer-un-compte" class="nav-link">Créer un compte</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="isUserAuthenticated">
        <li class="nav-item">
          <a routerLink="/se-connecter" class="nav-link" (click)="logout()">Se déconnecter</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <app-dark-mode-toggle></app-dark-mode-toggle>
        </li>
      </ul>
      
    </div>

  </div>
</nav>