/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

body {
    overflow-y: scroll;
}

.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
    & a {
        color: #dfe6e9;
    }

    .darkable {
        background-color: rgb(54, 54, 54) !important;
        color: rgb(217, 217, 217) !important;


    }
}

body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
}
